<div class="container-fluid bg-dark p-1">
  <div class="navbar navbar-dark navbar-expand">
    <h1 class="navbar-brand text-danger mb-0">Onecheck</h1>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="seasons" class="nav-link" [routerLinkActive]="'active'">Времена года</a>
      </li>
      <li>
        <a routerLink="tasks" class="nav-link"
           (click)="calendar.setTodayActiveDay()"
           [routerLinkActive]="'d-none'">Сегодня</a>
      </li>
    </ul>
    <button (click)="logOut()"
            *ngIf="(router.url !== '/auth') && (router.url !== '/registration')"
        class="btn btn-outline-danger">Выход</button>
  </div>

</div>