<div class="container-fluid bg-light">
  <h1 class="text-center text-uppercase">onecheck</h1>
  <div class="home-nav">
    <div class="list-group">
      <a routerLink="seasons"
         class="list-group-item list-group-item-action list-group-item-primary">
        Времена года
      </a>
      <a routerLink="tasks"
         class="list-group-item list-group-item-action list-group-item-success"
         (click)="calendar.setTodayActiveDay()">Сегодня</a>
      <a routerLink="tasks"
         class="list-group-item list-group-item-action list-group-item-success"
         (click)="calendar.setTomorrowActiveDay()">Завтра</a>
      <a routerLink="weekly-tasks"
         class="list-group-item list-group-item-action list-group-item-info">
        Дни</a>
    </div>
  </div>
</div>