.season
	&__link
		padding: .75rem 1.25rem
		margin: -.75rem -1.25rem
		font-size: 18px
		width: calc(100% + 2.5rem)
		&:hover
			background-color: #007bff
			text-decoration: none
	&__item
		&_today
			background-color: #fff!important
			.season__link
				color: #333!important
		&:hover
			background-color: #007bff!important
			

.auth
	&__button
		&[disabled]
			cursor: not-allowed
		